@import '../../main/styles/variables';
.speakers {
  .speaker-name {
    background-color: $navbarBg;
    padding: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
		flex-wrap: wrap;
  }
}

//nombre sobre la imagen
.speakers, .speaker {
	.name-floating {
	position: relative;
	background: none;
		&:before {
			content: '';
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			background: linear-gradient(to top, rgba($black, 0.7) 0%, rgba($black, 0) 30%)
		}
		.speaker-name {
			position: absolute;
			bottom: 0px;
			width: 100%;
			background: $blue-two;
			height: initial;
			padding: .5em .75em;
		}
  }
}

//el diseño estaba mal en realidad es asi con colores intercalados
.name-floating:nth-child(even) .speaker-name{
	background-color: #e7e7e7;
	color: black !important;
}



.speakers {
	.speaker-cover {
		background: transparent url('../../main/assets/images/new.png') no-repeat center/cover;
		position: relative;
		padding: 50% 0;
		img {
			position: absolute;
			top: 0;
		}
	}
}

.speaker {
	section > p {
		margin-bottom: 2em;
	}

	.cargo, .company, .country {
		margin-bottom: .5em;
	}

	.description {
		position: relative;
		margin: .5em 0;
		padding: 0;
		padding-top:0.5em;
		&:before, &:after {
			content: '';
			width: 25%;
			height: 1px;
			background: $white;
			position: absolute;
			left: 0;
			top: 0;
		}
		&:after {
			top: initial;
			bottom: 0;
		}
	}

	.relacionados {
		h2.dot {
			margin-left: .75em;
		}
	}
	.cols {
	  &.two-cols {
		.item {
			width: 40.5%;
			min-width: 40.5%;
			max-width: 200px;
		}
	  }
	  &.two-cols .item.detailList {
		width: 50%;
		min-width: 50%;
		max-width: none;
		}
	}

	.blueLine {
		position: relative;
		border-top: 4px solid $blue-one;
		margin: 1.5em 0;
		position: relative;
		left: -10px;
		width: calc(100% + 20px);
	}


}

i.ion-record{
  display: none;
}

