@import '../../main/styles/variables';

.venue {
  .map-venue {
    overflow: hidden;
  }
  .has-map {
    top: 300px;
    z-index: 9999;
  }
  /*iconos*/
  .content-icons {
    min-height: 40px;
    position: relative;

    span:before {
      content: "";
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
    }
    .silla:before {
      background-image: url(../../main/assets/images/silla-b.svg);
      left: 0px;
    }
    .wifi:before {
      background-image: url(../../main/assets/images/wifi-b.svg);
      left: 30px;
    }
    .park:before {
      background-image: url(../../main/assets/images/park-b.svg);
      left: 60px;
    }
  }
  .verbtn {
    border-color: #1e1e1e;
    color: #1e1e1e;
  }
  .row, .col {
    padding: 5px 0;
  }

  .list .item-button-right {
    padding: 0 80px 0 0;
  }

  .list button.button {
    min-height: initial;
    top: 0;
    right: 0;
    &.activated span {
      color: $white;
    }
    span {
      line-height: 16px;
    }

  }
  .checkImage {
    text-align: right;
    padding-top: 5px;
  }
  .item.item-checkbox {
    width: auto;
    display: inline-block;
    padding: 8px 0px 8px 30px;
    .checkbox {
      left: 0;
      top: calc(50% + 3px);
      i.checkbox-icon {
        width: 20px;
        height: 20px; 
        &:before {
          border-color: $blue-one;
          border-width: 2px;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          margin: 0;
        }
        &:after {
          background: white;
          border: 3px solid $blue-one;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          background: $blue-one;
          top: calc(50% - 6px);
          left: calc(50% - 6px);
          
        }
      }
    }
    .item-content {
      font-size: 14px;
      font-weight: bold;
      padding-left: 10px;
    }
  }


  .list {
    .item.active, .item.activated {
      background-color: $white !important;
      div {
        h2, h3, h4 {
          color: $black;
        }
        h2:before {
          background: #fff;
        }
      }
      .content-icons {
        .silla:before {
          background-image: url(../../main/assets/images/silla-b.svg);
        }
        .wifi:before {
          background-image: url(../../main/assets/images/wifi-b.svg);
        }
        .park:before {
          background-image: url(../../main/assets/images/park-b.svg);
        }
      }
    }

  }
  i.checkbox-icon{
    display : none;
  }
}

