<div ng-click="ctrl.ir(conference)">
<i class="icon ion-chevron-right"></i>
<div class="control " ng-class="{'active': ctrl.sessionActive(conference)}">

    <h2 class="time color-black uppercase fz-3 fw-800" ng-if="!conference.info.allDay.value">
        <i class="ico  ion-ios-heart-outline ico-heart color-black" style="right: 5px;" ng-if="ctrl.heart && !ctrl.myFav && !ctrl.fav.is('programme',conference.$key)" ng-click="ctrl.favorito(!ctrl.fav.is('programme',conference.$key),conference.$key,conference)"></i>
        <i class="ico  ion-ios-heart ico-heart color-calm fav" style="right: 5px;" ng-if="ctrl.heart && !ctrl.myFav && ctrl.fav.is('programme',conference.$key)" ng-click="ctrl.favorito(!ctrl.fav.is('programme',conference.$key),conference.$key,conference)"></i>

        <span class="surname" ng-if="conference.info.speaker">{{conference.info.speaker}} /</span>
      <span class="start">{{conference.info.hourFrom.hour}}.{{conference.info.hourFrom.minutes}}</span>
      <span class="end" ng-show="conference.info.hourTo"> - {{conference.info.hourTo.hour}}.{{conference.info.hourTo.minutes}}</span>
    </h2>
    <div class="list">
    <h2 class="time color-black uppercase fz-3 fw-800" ng-if="conference.info.allDay.value">
        <span class="surname">{{conference.info.surname || "Speaker name"}} /</span>
      <span>{{(conference.info.allDay.name) ? conference.info.allDay.name : 'Todo el día'}}</span>
    </h2>

    <h3 class="color-black uppercase fz1 fw-900 name">
      {{conference.info.name}}

    </h3>

    <div ng-show="conference.info.teaser" class="color-black fz-3 fw-300 ff-lato " 
         ng-bind-html="conference.info.teaser">
    </div>

  </div>

</div>
</div>
