<ion-view view-title="" class="bg-white">

  <!-- HEADER -->
    <div class="bar bar-subheader">
      <h2 class="title">{{item.name}}</h2>
    </div>
  <!-- ND OF HEADER -->



  <!-- SECOND HEADER -->

  <!-- END OF SECOND HEADER -->
  <ion-content class="color-black padding  has-header has-subheader">

    <!--
    <h2 class="uppercase text-center center-text centered fz5 fw-900 ff-titles color-brand">
      {{item.name}}
    </h2>
    -->

    <div class="fz-1 fw-400" ng-bind-html="item.content | trustAsHTML"></div>


        <button class="button button-block button-balanced color-gray2 fw-700 ff-lato fz2" ng-click="ctrl.go('main.home')">BACK
        </button>

  </ion-content>


</ion-view>
