.adverts {
    position: relative;
    background: $white;

    &::before {
        content: '';
        display: block;
        //padding-top: 19%; // aspect ratio
        height: 90px
    }

    .slider-outstanding {
        position: absolute;
        top: 0;
        left: 0;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;
    }
}
