//bar menu
.bar .title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1em !important;
  line-height: 47px !important;
  letter-spacing: .1em !important;
  padding-left: 30px;
}

.bar.bar-light {
  background-color: #2e86c8;
  content: 'BBVA';

}

.bar-logo img {
  height: 100%;
  width: auto;
  vertical-align: top;
  position: relative;
  /* left: 40px;*/
}

.bar.bar-header{
  position: relative;
  background-color: #fff !important;
  height: 44px ;
  &:before{
    content: "";
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../../main/assets/images/adorno-mitadarriba.png);
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
    width: 60px;
    height: 44px;
    background-size: contain;
  }
}

.bar.bar-subheader{
  background-color: #FFF;
  position: relative;
  height: 44px;
  background-color: #16B0B9;
  top: 44px;
  background-size: 100% 0px;
  &:before {
    content: "";
    background-image: url('../../main/assets/images/adorno-mitadabajo.png')  ;
    background-size: auto 100%;
    background-position: left center;
    background-color: #16B0B9;
    background-repeat: no-repeat;
    width: 60px;
    height: 44px;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
}



.platform-ios {
  .has-subheader{
    top: 88px !important;
  }
  
  img.main-logo-header{
    height: 34px;
    object-fit: contain;
  }

  ion-header-bar.bar-light.bar.bar-header .buttons-left.header-item button,
  ion-header-bar.bar-light.bar.bar-header .back-button{
    transform: translateY(-20px);
  }

  ion-header-bar.bar-light.bar.bar-header .right-buttons {
    transform: translateY(-20px);
  }

  .bar.bar-header{ 
    height: 44px !important;
  }

  .bar.bar-subheader{ 
    height: 44px !important;
    top: 44px !important;
  }
}

.color-black .icon {
  color: #f3715f !important;
}

.buttons-right.header-item .logo{
  width:auto;
  height:100%;
}


.bar .title.title-left.header-item,
.bar.bar-light .title.header-item{
  position: static;
  //margin-top: 36px;
  width: 100%;
  text-align: center;
}

img.main-logo-header {
    width: 70px;
    padding: 0;
}