@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/light/light.eot');
  src: url('../assets/fonts/lato/light/light.woff2') format('woff2'),
    url('../assets/fonts/lato/light/light.woff') format('woff'),
    url('../assets/fonts/lato/light/light.ttf') format('truetype'),
    url('../assets/fonts/lato/light/light.svg#Lato-Light') format('svg'),
    url('../assets/fonts/lato/light/light.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/regular/regular.eot');
  src: url('../assets/fonts/lato/regular/regular.woff2') format('woff2'),
    url('../assets/fonts/lato/regular/regular.woff') format('woff'),
    url('../assets/fonts/lato/regular/regular.ttf') format('truetype'),
    url('../assets/fonts/lato/regular/regular.svg#Lato-Regular') format('svg'),
    url('../assets/fonts/lato/regular/regular.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/black/black.eot');
  src: url('../assets/fonts/lato/black/black.woff2') format('woff2'),
    url('../assets/fonts/lato/black/black.woff') format('woff'),
    url('../assets/fonts/lato/black/black.ttf') format('truetype'),
    url('../assets/fonts/lato/black/black.svg#Lato-Black') format('svg'),
    url('../assets/fonts/lato/black/black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}



@font-face {
  font-family: 'Cocogoose';
  src: url('../assets/fonts/cocogoose/cocogoose.eot');
  src: url('../assets/fonts/cocogoose/cocogoose.woff2') format('woff2'),
    url('../assets/fonts/cocogoose/cocogoose.woff') format('woff'),
    url('../assets/fonts/cocogoose/cocogoose.ttf') format('truetype'),
    url('../assets/fonts/cocogoose/cocogoose.svg#Lato-Black') format('svg'),
    url('../assets/fonts/cocogoose/cocogoose.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/gotham/Gotham-Bold.woff2') format('woff2'),
      url('../assets/fonts/gotham/Gotham-Bold.woff') format('woff'),
      url('../assets/fonts/gotham/Gotham-Bold.ttf') format('truetype'),
      url('../assets/fonts/gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Swis721';
  src: url('../assets/fonts/swiss/Swiss721BT-BoldCondensed.woff2') format('woff2'),
      url('../assets/fonts/swiss/Swiss721BT-BoldCondensed.woff') format('woff'),
      url('../assets/fonts/swiss/Swiss721BT-BoldCondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/avenir/Avenir-Medium.woff2') format('woff2'),
      url('../assets/fonts/avenir/Avenir-Medium.woff') format('woff'),
      url('../assets/fonts/avenir/Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}