@import 'variables';

.social-networks {
  a.icon {
    color: #000;
    display: inline-block;
    line-height: initial;
    min-height: initial;
    text-align: center;
    font-size: 1rem;
    padding: .20em 0;
    width: 2em;
    border: 2px solid $complementario;
    border-radius: 10px;
    margin-right: 0.5em; 

    &:before {
      margin:0;
      font-size: 1.5em;
      line-height: initial;
    }
  }
}
.social-networksblack{
    a.icon {
    color: #000;
    display: inline-block;
    line-height: initial;
    min-height: initial;
    text-align: center;
    font-size: 1rem;
    padding: .25em 0;
    width: 2.072em;
    &:before {
      font-size: 1.25em;
      line-height: initial;
    }
  }
}