//menu
.menu .scroll-content {
  background-image: url('../../main/assets/images/backgroundMenu.png');
  // background-image: url('../../main/assets/images/logoLogin1.png');
  background-size: cover;
  background-position: 50% 50%;
  background-color:$blue-one;
  top: 0;

  .item {
    background: none;
    white-space: initial;
    padding-left: 78px;
    border-color: $positive;
    margin: 0;
    border-width: 0 0 1px 0;
    &:last-of-type {
      border-width: 0;
    }
    &.activated{
      background: $calm !important;
      color: white !important;
      .icon:before {
        color: white;
      }
    }
    .icon {
      left: 28px;
    }
  }
  .item-avatar {
    padding: 1.5rem 0 1.5rem 78px;
    img {
      max-width: 55px;
      max-height: 55px;
      top: 22px;
      border : 1.5px black solid;
    }
  }
  .item, .item-content {
    background: none;
  }
  .item-content {
    border-width: 1px 0;
    .icon {
      font-size: 25px;
    }
  }

  //item-complex
  .item-complex {
    padding-left: 0;
    > .item-content {
      padding-left: 78px;

      &.activated {
        color: $calm;
      }
    }
    .icon {
      left: 28px;
    }
  }
}

.item-white{
  background-color: white !important;
}

.nots {
  .list {
    top: 44px !important;
  }
}
.nots-title {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0px;
  position: absolute;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.right-buttons {
  button {
    img {
      height: 100%;
      max-height: 28px;
      width: auto;
    }
  }
  .badge {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 15px;
  }
}