.list.documents .item {
  padding: 20px 28px;
  border-bottom-width: 1px;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-color: black;
}
.ion-android-open {
  float: right;
}
.icon-document-img {
    width: 40px;
} 
.icon-left-doc .control {
  padding-left: 0;
  display: inline-block;
  h3.name:before {
    left: -72px;
  }
}
.ion-padding-60{
      padding-right: 60px;
}


