<ion-view class="autenticacion login auth" hide-nav-bar="true">
     <ion-content>
        <div class="list list-inset input item-no-bgc" style="margin-top: 270px;">
            <label class="item item-input item-floating-label">
                <span class="input-label color-black ph-black fz-2">Correo</span>
                <input type="email" placeholder="correo" ng-model="email" class="fz0 color-black ph-black">
            </label>

            <label class="item item-input item-floating-label">
                    <span class="input-label color-black ph-black fz-2">Contraseña</span>
                    <input type="password" placeholder="Contraseña" ng-model="password" class="fz0 color-black ph-black">
                </label>
            <div class="action-buttons">
                <button class="button button-block button-balanced color-gray2 fw-700 ff-lato fz-1"
                        ng-click="login(email,password)">INGRESAR
                </button>
            </div>

            <!-- <div class="action-buttons">
                    <button class="button button-block button-balanced color-gray2 fw-700 ff-lato fz-1"
                            ng-click="goHome()">INICIO
                    </button>
            </div> -->
            <div class="auth-options fz-2 text-center color-black">
                <div class="back-to-login">
                    Don't have an account? <a class="pd td-underline color-black" ui-sref="register">Sign up</a>
                </div>
              </div>
            

        </div>


    </ion-content>
</ion-view>
