<ion-view  class="profile bg-white login auth">
    <ion-nav-bar class="bar-light">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <img class='button-icon title-image main-logo-header' src='main/assets/images/LOGO640X88.svg' />
            <!-- <img  class="header-small-logo" style="width: 40px; height: 40px;"> -->
            <span class="badge badge-positive" style="height: 24px;margin-top:5px">0</span>
            <button class="button button-icon icon ion-android-notifications" style="display: block !important;color: 16B0B9" menu-toggle="right">
         
            </button>
        </ion-nav-buttons>

        <div class="bar bar-subheader">
          <h2 class="title">Perfil</h2>
        </div>
      </ion-nav-bar>


  <ion-content class="has-tabs has-subheader has-header">

    <div ng-include="tpl.form"></div>

  </ion-content>

  <div class="tabs tabs-calm action-buttons">

    <div class="tab-item item-text-wrap color-royal fw-700 ff-lato fz-1 no-mb" ng-click="ctrl.goHome()">
      Saltar
    </div>



    <div class="tab-item item-text-wrap color-royal fw-700 ff-lato fz-1 no-mb" ng-click="save(form)">
      Guardar
    </div>

  </div>
</ion-view>
