<div class="list list-inset input item-no-bgc padding">
    <header class="text-center user-avatar">
        <div class="image-wrap">
            <img ng-if="image.url" ng-src="{{image.url}}">
            <img ng-if="!image.url" src="main/assets/images/avatar.png">
        </div>
        <button class="button button-clear button-calm" ng-click="changeImage()">Photo</button>
        <!--
        <button class="button button-clear button-calm" ng-click="changeImage(true)">Biblioteca</button> -->
    </header>


    <p class="fz0 color-black ph-black text-center" >{{form.email}}</p>
    <label  class="item item-input item-floating-label">
        <span class="input-label color-black fz1">Nombre</span>
        <input type="text" placeholder="Nombre" class="fz0 color-black ph-black" ng-model="form.name">
      </label>
      <label  class="item item-input item-floating-label">
          <span class="input-label color-black fz1">Apellido</span>
          <input type="text" placeholder="Apellido" class="fz0 color-black ph-black" ng-model="form.last_name">
      </label>

      <label  class="item item-input item-floating-label">
          <span class="input-label color-black fz1">Oraganizacion</span>
          <input type="text" placeholder="Organizacion" class="fz0 color-black ph-black" ng-model="form.company">
      </label>

      <label  class="item item-input item-floating-label">
          <span class="input-label color-black fz1">Cargo</span>
          <input type="text" placeholder="Cargo" class="fz0 color-black ph-black" ng-model="form.job_position">
      </label>

      <label  class="item item-input item-floating-label">
        <span class="input-label color-black fz1">Telefono</span>
        <input type="number" placeholder="Telefono" class="fz0 color-black ph-black" ng-model="form.phone_number">
    </label>


</div>
