<ion-view class="registro auth" >


  <!-- HEADER -->
  <ion-nav-bar class="bar-light">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <!-- <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons> -->

    <ion-nav-buttons side="right">
        <img class='button-icon title-image main-logo-header' src='main/assets/images/LOGO640X88.svg' />
        <!-- <img  class="header-small-logo" style="width: 40px; height: 40px;"> -->
        <!-- <span class="badge badge-positive" style="height: 24px;margin-top:5px">0</span> -->
        <!-- <button class="button button-icon icon ion-android-notifications" style="display: block !important;color: 16B0B9" menu-toggle="right">
        </button> -->
    </ion-nav-buttons>

    <div class="bar bar-subheader">
      <h2 class="title">Registrarse</h2>
    </div>
  </ion-nav-bar>
  <!-- END HEADER -->


  <ion-content class="has-subheader">


    <div class="list list-inset input item-no-bgc">

      <div class="login-general register">

          <div class="list list-inset input item-no-bgc">

            <label  class="item item-input item-floating-label">
                  <span class="input-label color-black fz1">Correo</span>
                  <input type="text" placeholder="Correo" class="fz0 color-black ph-black" ng-model="mail[0]">
            </label>

            <label  class="item item-input item-floating-label">
              <span class="input-label color-black fz1">Nombre</span>
              <input type="text" placeholder="Nombre" class="fz0 color-black ph-black" ng-model="name">
            </label>
            <label  class="item item-input item-floating-label">
                <span class="input-label color-black fz1">Apellido</span>
                <input type="text" placeholder="Apellido" class="fz0 color-black ph-black" ng-model="last_name">
            </label>

            <label  class="item item-input item-floating-label">
              <span class="input-label color-black fz1">Telefono</span>
              <input type="number" placeholder="Telefono" class="fz0 color-black ph-black" ng-model="phone_number">
            </label>

            <label  class="item item-input item-floating-label">
                <span class="input-label color-black fz1">Organizacion</span>
                <input type="text" placeholder="Organizacion" class="fz0 color-black ph-black" ng-model="company">
            </label>

            <label  class="item item-input item-floating-label">
                <span class="input-label color-black fz1">Cargo</span>
                <input type="text" placeholder="Cargo" class="fz0 color-black ph-black" ng-model="job_position">
            </label>

            <span class="color-white fz-2 fw-500" ng-click="registrar(name, last_name, company, job_position, mail[0],'mocion', phone_number )">
              <div class="action-buttons">  
                <button class="button button-block button-balanced color-gray2 fw-700 ff-lato fz-1">
                    SIGN UP
                </button>
              </div>
            </span>

            <span class="color-white fz-2 fw-500" style="display: none">
                <div class="action-buttons">
                  <button class="button button-block button-balanced color-gray2 fw-700 ff-lato fz-1" ng-click="goHome()">
                  HOME
                  </button>
                </div>
            </span>

            <div class="auth-options fz-2 text-center color-black">
              <div class="back-to-login">
                I have an account <a class="pd td-underline color-black" ui-sref="login">Log in</a>
              </div>
            </div>


          </div>
        </div>

  </ion-content>
</ion-view>
