<ion-view view-title="Conciertos" class="home bg-stable">
   <div class="bar bar-subheader"><h2 class="title"></h2></div>    <ion-content scroll="true" overflow-scroll="true">
    <section class="relacionados mb2" ng-include="events.tpl"></section>
  </ion-content>
</ion-view>
