<ion-view class="bg-white">


  <!-- HEADER -->
  <div class="bar bar-subheader">
    <h2 class="title">Exchange of cards</h2>
  </div>
  <!-- end header -->

<!-- 
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-qr-scanner" ng-click="scan()"></button>
  </ion-nav-buttons> -->

  <!-- do you want padding? -->
   <!-- <div class="bar bar-subheader"><h2 class="title"></h2></div>     -->
   <ion-content class="padding has-subheader">

    <p class="padding font-small fw-400 text-center">
        To share contacts automatically, scan this code.
    </p>

    <div class="the-qr">
      <div class="cont"><qr text="userid" size="size" image="true"></qr></div>
    </div>

    <div class="padding"></div>

    <button class="button button-outline button-block button-dark fz-1" ng-click="scan()">  Scan QR code </button>

    <button class="button button-outline button-block button-dark fz-1" ng-click="ctrl.showInstruction()">
        How to add contacts
    </button>

    <button class="button button-outline button-block button-dark fz-1" ng-click="ctrl.go('main.profile', {hide: false})">
      Edit profile
    </button>

    <ul class="list user-info-list fw-400" ng-if>
      <li class="item color-white font-small">
        <span>Name:</span> {{user.info.name}}
      </li>
      <li class="item color-white font-small">
        <span>COmpany:</span> {{user.info.company}}
      </li>
      <li class="item color-white font-small">
        <span>Mobile:</span> {{user.info.mobilePhone}}
      </li>
      <li class="item color-white font-small">
        <span>Email:</span> {{user.info.email}}
      </li>
    </ul>

  </ion-content>
</ion-view>
