<ion-view cache-view="true">
<!--
  <ion-nav-buttons side="right">
    <button class="button icon button-clear f-xs" ng-click="ctrl.opt()">
      <span ng-if="ctrl.fireUser.optout">Visible</span><span ng-if="!ctrl.fireUser.optout">Invisible</span>
    </button>
  </ion-nav-buttons>
-->

  <!-- HEADER -->
  <div class="bar bar-subheader">
    <h2 class="title">Chats</h2>
  </div>
  <!-- end header -->

  <!-- do you want padding? -->
   <!-- <div class="bar bar-subheader"><h2 class="title"></h2></div>     -->
   <ion-content class="has-subheader">

    <!-- content goes here -->
    <ion-list>
      <div class="item f-xs" ng-if="ctrl.chats.length === 0">
          Currently, you don't have active chats. 
      </div>

      <ion-item class="item item-icon-right"
                ng-repeat="user in ctrl.chats | orderBy : ctrl.orderByTimestamp : true"
                ui-sref="chats.chat({chatID: user.id})"
                ng-class="{'item-avatar': user.info.image}">
        <img ng-show="user.info.image" ng-src="{{user.info.image}}">
        <h2 class="swiss ff-lato fz-1 fw-500">{{user.info.name}} {{user.info.last_name}}</h2>
        <p class="f-xs fw-400">
          {{ctrl.fireUserData(user.id).lastmessage | limitTo: 50 }}{{ctrl.fireUserData(user.id).lastmessage.length >= 50 ? '...' : ''}} -
          <b>{{ctrl.fireUserData(user.id).timestamp | date}}</b>
        </p>
        <i class="icon">
          <span class="ion-ios-arrow-right"></span>
          <span class="badge badge-assertive" ng-if="ctrl.checkMessage(user.id)" ng-bind-html="ctrl.fireUserData(user.id).count"></span>
        </i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
