<ion-view title="" class="event-networking">

    <ion-tabs class="tabs-dark tabs-striped item-text-wrap hassubheadertabs">

        <!-- List Tab -->
        <ion-tab title="Search"
                 ui-sref="main.networking.attendees">
            <ion-nav-view name="attendees"></ion-nav-view>
        </ion-tab>

        <!-- List Tab -->
        <ion-tab title="Exchange of cards"
                 ui-sref="main.networking.card">
            <ion-nav-view name="card"></ion-nav-view>
        </ion-tab>

        <!-- List Tab -->
        <ion-tab title="My contacts"
                 ui-sref="main.networking.mycards">
            <ion-nav-view name="mycards"></ion-nav-view>
        </ion-tab>

        <!-- List Tab -->
        <ion-tab title="Chats"
                 ui-sref="chats">
            <ion-nav-view name="chats"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>
