<ion-view view-title="" class="home bg-white">

    <!-- HEADER x-->
    <div class="bar bar-subheader">
      <h2 class="title"></h2>
    </div>
    <!-- end header -->
  
    <ion-content scroll="true" class="has-footer has-slider-footer has-subheader" delegate-handle="HomeScroll" overflow-scroll="true">
  
      <div class="main-box" style="background-image:url({{event.image.fullsize}})">
  
        <div class="box general-evento">
  
          <div class="description fw-500 ff-lato fz-1 color-white">
  
            <div class="uppercase  fz4 fw-900 ff-titles titulo-evento" style="color: black;">
              {{event.name}}
            </div>
  
        <div class="details">
            <div ng-if="event.dateFrom" style="color: black;">
              <span class="uppercase fz-2">{{::event.dateFrom}}</span>
            </div>
          </div>
            <div ng-if="event.city" style="color: black;">
              <span class="uppercase fz0 fw-900">{{::event.city}} {{::event.place}}</span>
            </div>
            <!-- <div ng-if="item.place">
          <span class="uppercase fz-4 fw-900"></span>
        </div> -->  
  
          </div>
        </div>
  
        <nav class="navigation-icons">
          <div class="small-icon">
            <a ng-repeat="item in ctrl.menuHome" ng-click="ctrl.go(item)">
              <i  class="icon {{item.icon}}"></i>
              <span class="ff-swiss">{{item.name}}</span>
            </a>
          </div>
          <div class="small-icon" style="display: none">
              <a ng-click="link('http://www.scope-elearning.org/')" style="color: white;
              font-size: 2.5em;" class="ion-university">
                <span class="ff-swiss">Scope e-Learnig</span>
              </a>
          </div>
        </nav>
      </div>
    </ion-content>
  
    <ion-footer-bar>
      <adverts eventid="{{event_id}}" style="width:100%;"></adverts>
    </ion-footer-bar>
  </ion-view>
  