<ion-view view-title="FAQS" cache-view="false" class="programme favorites bg-white">
    <!-- do you want padding? -->
     <div class="bar bar-subheader"><h2 class="title"></h2></div>    <ion-content class="has-subheader">

        <div class="icon" ng-if="!ctrl.faqs.loaded">
            <ion-spinner icon="dots"></ion-spinner>
        </div>

        <div class="panel" ng-repeat="item in ctrl.faqs.data">
            <ion-item class="item item-icon-right bg-white uppercase fz-2 ff-titles color-black border-item"
                      ng-click="ctrl.selectItem(item.$key)"
                      ng-class="{'active': ctrl.checkItem(item.$key)}">
                {{item.question}}
                <i class="icon color-black"
                   ng-class="(ctrl.checkItem(item.$key)) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            </ion-item>

            <div class="padding" ng-if="ctrl.checkItem(item.$key)">
                <div ng-bind-html="item.answer | trustAsHTML"></div>
            </div>
        </div>

    </ion-content>
</ion-view>
