<ion-view  class="venue bg-white">

  <!-- HEADER -->
    <div class="bar bar-subheader">
      <h2 class="title">VENUE</h2>
    </div>
  <!-- END HEADER -->



     <!-- <div class="bar bar-subheader"><h2 class="title"></h2></div>    -->
      <ion-content class="has-subheader">


        <ion-list>

            <div class="map-venue" ng-if="!ctrl.showImage && !venue.image" style="height: calc(300px - 45px); width: 100%;">
                <leaflet lf-center="center" markers="markers" height="310px" width="100%" defaults="defaults"></leaflet>
            </div>


            <ion-item ng-repeat="venue in ctrl.venues" ng-click="ctrl.setMap(venue.map, venue.id)"
                      ng-class="{'active': ctrl.checkActive(venue.id)}" class="bg-white" style="padding-top: 0;">

                <div class="venue-img" ng-if="ctrl.showImage && venue.image" style="margin: 0 -15px; overflow: hidden;">
                    <img ng-src="{{venue.image.fullsize}}" ng-pinch-zoom>
                </div>

                <div class="checkImage" ng-if="venue.image">
                        <ion-checkbox ng-if="!ctrl.showImage"  ng-click="ctrl.toogleImage()">Show floor plan</ion-checkbox>
                        <ion-checkbox ng-if="ctrl.showImage"  ng-click="ctrl.toogleImage()">Show map</ion-checkbox>
                </div>

                <div class="item item-button-right no-border item-text-wrap" ng-click="ctrl.setImg(venue.id)" >
                    <h2 class="uppercase fw-900 ff-titles fz5 color-calm">{{venue.name}}</h2>
                </div>
                

                <div class="row">
                    <div class="col">
                        <div class="content-conferencia item-text-wrap mb">
                            <h3 class="ff-lato fz-3 fw-700 color-black uppercase">{{venue.address}}</h3>
                            <div class="description fw-300 fz-2 color-black" ng-bind-html="venue.description"></div>
                        </div>
                        <div class="conference">
                            <h4 class="fw-900 fz-2 ff-lato">Services:</h4>
                            <div class="content-icons">
                                <span ng-if="venue.services.discapacidad" class="silla"></span>
                                <span ng-if="venue.services.wifi" class="wifi"></span>
                                <span ng-if="venue.services.parqueadero" class="park"></span>
                            </div>
                        </div>

                        <div ng-if="venue.coordinates">
                            <div class="button button-calm button-small fw-900"
                                 ng-click="ctrl.comoLlegar.hallarRuta(venue.map.lat, venue.map.lng)"> Get there
                            </div>
                        </div>

                    </div>
                </div>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
