<ion-view view-title="General" class="noticias">
   <div class="bar bar-subheader"><h2 class="title"></h2></div>    <ion-content scroll="true" overflow-scroll="true">
    <section class="ultimas-noticias" ng-include="news.tpl"></section>
  </ion-content>
  <!--div class="tabs tabs-icon-top">
    <a class="tab-item"  ng-click="goTo('global.landing', true)">
      <i class="icon ion-gear-a"></i>
      Actividad blue
    </a>
    <a class="tab-item" ng-click="goTo('main.survey', true)">
      <i class="icon ion-home"></i>
      Poll
    </a>
    <a class="tab-item" ng-click="goTo('main.networking.attendees', true)">
      <i class="icon ion-star"></i>
      Chat
    </a>
    <a class="tab-item" ng-click="goTo('main.survey', true)">
      <i class="icon ion-gear-a"></i>
      Contactos
    </a>
    <a class="tab-item" ng-click="goTo('main.survey', true)">
      <i class="icon ion-gear-a"></i>
      Escarapela
    </a>
  </div-->
</ion-view>
