<div class="adverts">
        <ion-slides  options="sliderOptions" slider="slider" class="slider-outstanding" autoplay="true">
            <ion-slide-page  ng-repeat="item in adverts">
                <div class="img-cont" ng-click="redirectPage(item)">
                   <a href="">
                    <img ng-src="{{item.image.fullsize}}">
                   </a>
                </div>
            </ion-slide-page>
        </ion-slides>
    </div>
