<ion-view view-title="" class="bg-white">
  <!-- <ion-nav-title>DOCUMENTS</ion-nav-title> -->
    <div class="bar bar-subheader">
      <h2 class="title">{{title}}</h2>
    </div>

  <ion-content class="color-black has-subheader has-header has-subheader2 ">
    <footer>
        <ul class="list documents">
          <li  ng-click="ctrl.ShareFile.openNative(document.url,document.name)"
               class="item open-icon item-icon-right line-up ff-bureaugrotesque fz3 uppercase color-black no-border icon-left-doc"
               ng-repeat="(key,document) in content">

               <img class="icon-document-img" src="main/assets/images/doc.png"/>

               <div class="control">
                  <a>
                      <h3 class="color-black uppercase fz1 fw-900 name">
                      </h3>
                      <div class="color-black  fw-300 ff-lato fz-4 ion-padding-60">
                          {{document.name}}
                      </div>
                    <i  class="icon ion-android-open item-righ icon-right"> </i>
                  </a>
               </div>

          </li>
        </ul>
      </footer>
  </ion-content>
</ion-view>
