<ion-view class="bg-white surveys" cache-view="false">
  <div class="bar bar-subheader">
    <h2 class="title">Polling</h2>
  </div>
  <ion-content class="has-subheader" >


    <div class="text-centered" ng-if="!survey">

      <div class="card">
        <div class="item item-text-wrap">
          {{no_polls_message}}
        </div>
      </div>

      <button class="button button-block button-balanced color-gray2 ff-titles" ng-click="Ctrl.goHome()">Back</button>

    </div>
    <ion-slides ng-if="survey" slider="slider" style="height: 100vh;">
      <ion-slide-page ng-repeat="(key, question) in questions">
        <div class="header text-center color-black fz-3 ff-titles" ng-bind-html="question.ask"></div>

        <div class="unica" ng-if="types[question.type] == 'unica'" ng-click="validar()">  
             
          <ion-list class="color-black fw-900" ng-init="response[key] = ''" ng-repeat="(id, answer) in question.answers">
            <ion-radio name="{{key}}" class="fw-900 fz-4" ng-model="response[key]" value="{{id}}">{{answer}}</ion-radio>
          </ion-list>
        </div>

        <div class="abierta padding" ng-if="types[question.type] == 'abierta'">

            <label class="item item-input item-floating-label">
                <span class="input-label color-black ph-black fz-2">Answer</span>
                <textarea  name="{{key}}"  placeholder="Answer" ng-model="response[key]" class="fz0 color-black ph-black">
                    {{answer}}
                </textarea>
            </label>


        </div>

        <div class="multiple" ng-if="types[question.type] == 'multiple'" ng-click="validar()">
          
          <ion-list class="color-black fw-900" ng-init="response[key] = []">
            <ion-checkbox ng-repeat="(id, answer) in question.answers" ng-click="element(key, id)" ng-selected="response[key].indexOf(id) > -1">
              {{answer}}
            </ion-checkbox>
          </ion-list>
        </div>

        <div ng-if="types[question.type] == 'orden'">
          <ion-list ng-init="response[key] = []">
            <ion-item class="color-black fw-900" ng-repeat="(id, answer) in question.answers" ng-click="element(key, id)">
              {{answer}}
              <span class="badge badge-assertive" ng-show="response[key].indexOf(id) > -1">{{response[key].indexOf(id) + 1}}</span>
            </ion-item>
          </ion-list>
        </div>
        <div class="text-center color-brand fw-900 padding">
        {{slider.activeIndex}} / {{slider.slides.length}}                         
        </div>

        <div class="button-bar" ng-click="validar()">
          <button class="button button-block button-balanced color-gray2 ff-titles" ng-if="$index > 0" ng-click="slider.slidePrev()">Previous</button>
          <button class="button button-block button-balanced color-gray2 ff-titles" ng-if="$index < lengthQuestions" ng-click="slider.slideNext()"
            ng-disabled="response[key].length == 0">Next</button>
          <button class="button button-block button-balanced color-gray2 ff-titles" ng-if="$index == lengthQuestions" ng-click="save()"
            ng-disabled="!valido">Send</button>
        </div>
        
      </ion-slide-page>
    </ion-slides>

  </ion-content>
</ion-view>
