<ion-view cache-view="false" class="programme favorites bg-white">
  <!-- do you want padding? -->

  <!-- HEADER -->
  <div class="bar bar-subheader">
    <h2 class="title">MY PROGRAMME</h2>
  </div>
  <!-- END HEADER -->


   <!-- <div class="bar bar-subheader"><h2 class="title"></h2></div>     -->
   <ion-content class="has-subheader">

    <div class="panel">
      <ion-item class="item item-icon-right bg-white uppercase fz-2 ff-titles color-black border-item"
                ng-click="ctrl.selectItem('uno')"
                ng-class="{'active': ctrl.checkItem('uno')}">
        Programme ({{(ctrl.favouritesLength.length > 0) ? ctrl.favouritesLength.length : 0}})
        <i class="icon ion-ios-arrow-down color-black" ng-if="!ctrl.checkItem('uno')"></i>
        <i class="icon ion-ios-arrow-up color-black" ng-if="ctrl.checkItem('uno')"></i>
      </ion-item>
      <!-- Lista: por hora  -->
      <div class="group-by" ng-if="ctrl.checkItem('uno')">
        <div class="list favourite" ng-repeat="(key, group) in ctrl.favouritesProgramme">
          <div class="item fz-2 fw-900 uppercase color-assertive">{{key}}</div>
          <ion-item class="conference lista item item-{{$index}} no-border no-m bg-white item-icon-right item-text-wrap "
             ng-repeat="conference in group"
             ng-click="ctrl.ir(conference)"
             ng-include="ctrl.tpl.teaser">
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
