<ion-view cache-view="true" class="sponsors exhibitors">

		
		<!-- <div class="bar bar-subheader"><h2 class="title"></h2></div>   -->

		<!-- HEADER -->
		<div class="bar bar-subheader">
			<h2 class="title">Exhibitors</h2>
		</div>	
		<!-- END HEADER -->



		 <ion-content scroll="true" overflow-scroll="true" class="has-subheader has-header has-subheader2 ">

		   <div ng-repeat="(key, group) in ctrl.exhibitors | toArray:true | orderBy:'type' | groupBy: 'type'">
			   <div class="sponsor type padding">
				   <h2 class="fz-1 uppercase lh-1 fw-800 ff-titles color-black">{{ctrl.types[key].name}}</h2>
			   </div>

			   <ion-list class="cols two-cols">
				   {{item}}
				   <div class="item sponsor-desc item-no-bgc no-padding" ng-repeat="item in group">
					   <a ng-click="ctrl.ir(item.llave)">

						<img ng-src="{{item.logo}}">
						<h2 class="stand text-center color-white fz-2 fw-500  ff-avenir speaker-name-align bg-brand">
							<div class="d-block">{{item.stand}}</div>
						</h2>
					</a>
				   </div>
			   </ion-list>
		   </div>

	   </ion-content>
   </ion-view>

<!-- <ion-view cache-view="true" class="exhibitors" title="Exhibitors">

	 <div class="bar bar-subheader"><h2 class="title"></h2></div>
	 <ion-content scroll="true" overflow-scroll="true" class="has-subheader has-header has-subheader2 ">

		<div ng-repeat="(key, group) in ctrl.exhibitors | toArray:true | orderBy:'type' | groupBy: 'type'">
			<div class="sponsor type padding">
				<h2 class="fz-1 uppercase lh-1 fw-800 ff-titles color-black">{{ctrl.types[key].name}}</h2>
			</div>

			<ion-list class="cols two-cols">
				<div class="item sponsor-desc item-no-bgc" ng-repeat="item in group">
					<small>{{item.links.url | json}}</small>
					<a ng-href="{{item.links.url}}"><img ng-src="{{item.logo}}"></a>
				</div>
			</ion-list>

			<ion-list class="cols two-cols">
					<div class="item sponsor-desc item-no-bgc" ng-repeat="item in group">
						<a ng-click="ctrl.ir(item.llave)"><img ng-src="{{item.logo}}"></a>
					</div>
				</ion-list>
		</div>

	</ion-content>
</ion-view> -->

<!--
<ion-view cache-view="true" class="sponsors" title="sponsors">

		<div class="bar bar-subheader"><h2 class="title"></h2></div>
		 <ion-content scroll="true" overflow-scroll="true" class="has-subheader has-header has-subheader2 ">

		   <div ng-repeat="(key, group) in ctrl.sponsors | toArray:true | orderBy:'type' | groupBy: 'type'">
			   <div class="sponsor type padding">
				   <h2 class="fz-1 uppercase lh-1 fw-800 ff-titles color-black">{{ctrl.types[key].name}}</h2>
			   </div>

			   <ion-list class="cols two-cols">
				   {{item}}
				   <div class="item sponsor-desc item-no-bgc" ng-repeat="item in group">
					   <a ng-click="ctrl.ir(item.llave)"><img ng-src="{{item.logo}}"></a>
				   </div>
			   </ion-list>
		   </div>

	   </ion-content>
   </ion-view> -->
