<ion-view class="sponsor-detalle">

    <!-- <<ion-nav-title>{{ctrl.exchange.name}}</ion-nav-title> -->
  
    <!-- HEADER -->      
    <div class="bar bar-subheader">
      <h2 class="title">{{ctrl.exchange.name}}</h2>
    </div>
    <!-- END HEADER -->
     <!-- <div class="bar bar-subheader"><h2 class="title"></h2></div>     -->
     
     <ion-content  class="has-header has-subheader" scroll="true">
      <header>
        <div class="cover-imagen">
          <img ng-src="{{ctrl.exchange.logo}}">
        </div>
      </header>
      <article class="padding">
  
        <section class="info">
          <div class="sponsor-name">
            <h2 class="uppercase fz5 fw-900 ff-titles color-calm">
                {{ctrl.exchange.name}}
              </h2>

            <div class="icono icono-like"></div>
          </div>
          <div class="sponsor-website">
            <span class="fw-300 fz-1 td-underline" ng-click="ctrl.openUrl(ctrl.exchange.website)">
              {{ctrl.exchange.website}}
            </span>
          </div>
        </section>
  
        <section class="description fw-300 fz-1">
          <div ta-bind="text" >
            {{ctrl.exchange.description}}
          </div>
        </section>
  
        <section class="info-sponsor">
          <div ng-if="ctrl.exchange.phone">
            <h4 class="lineZigZag negro top fw-900 font-small uppercase no-mb">Direccion:</h4>
            <p class="fw-300">{{ctrl.exchange.address}}</p>
          </div>
  
          <div ng-if="ctrl.exchange.phone">
            <h4 class="fw-900 font-small uppercase no-mb">Telefono:</h4>
            <p class="fw-300">{{ctrl.exchange.phone}}</p>
          </div>
        </section>
  
        <div class="social-networks color-black">
          <div class="red {{key}} fw-400 font-mini" ng-repeat="(key, red) in ctrl.exchange.networks">
            <a ng-href="{{red.url}}">{{red.name}}</a>
          </div>
        </div>
  
        <section class="tags text-center">
          <span ng-repeat="tag in ctrl.exchange.tags" class="td-underline fw-400 font-small" ui-sref="evento.hashtags({tipo: 'sponsors', hashtag: tag})">{{tag}}</span>
        </section>
  
      </article>
    </ion-content>
  </ion-view>
  