<ion-view view-title="" class="bg-white">
  <ion-nav-title>Términos y Condiciones</ion-nav-title>
  <!-- do you want padding? -->
   <div class="bar bar-subheader"><h2 class="title"></h2></div>    <ion-content class="color-black padding">
    <h3 class="color-black fz2 ff-titles">Términos y Condiciones</h3>
    <div class="fz-1 fw-400" ng-bind-html="item | trustAsHTML"></div>
    <footer>
      <a ng-click="goBack()">Volver</a>
    </footer>
  </ion-content>
</ion-view>
