<div class="proximos-eventos">

  <div class="columns prox-item" ng-repeat="item in events.data | orderBy: 'order'" ng-style="::{'background-image': getEventImage(item.generalImage.fullsize, item.image.fullsize)}">
    <!--div-- class="grupo-left general-evento-landing" ng-click="link(item.$key)" ng-style="{'background-image': getEventImage(item.image.fullsize)}">

        </div-->
    <!--
    <div class="event-img">
      <img class="event-img" ng-if="item.image" ng-src="{{item.image.fullsize}}">
      <img class="event-img" ng-if="!item.image" ng-src="home/assets/images/bg-item-home.png">
    </div>
-->
    <div class="grupo-general padding-left padding-right padding-top color-white description fw-500 ff-lato fz-3" ng-click="link(item.$key)" style="margin-top: 120px;">

      <!-- <div ng-if="item.place">
        <span class="uppercase fz-4 fw-900"></span>
      </div> -->
      <div ng-if="!item.generalImage && !item.generalImage.fullsize">
        <div ng-if="item.city">
          <span class="uppercase fz-4 fw-900">{{::item.city}} {{::item.place}}</span>
        </div>
        <div class="details" ng-click="link(item.$key)">
          <div ng-if="item.dateFrom">
            <span class="uppercase fz-4">{{::item.dateFrom}}</span>
          </div>
        </div>
        <div class="uppercase  fz2 fw-900 ff-titles titulo-evento" ng-click="link(item.$key)">
          {{item.name | limitTo:90}}{{(item.name.length > 90) ? '...' : ''}}
        </div>
      </div>

      <!--iv class="tickets" ng-if="item.tickets">
                <div class="button button-calm button-small uppercase" ng-click="link_externo(item.tickets)">Boletería</div>
            </div-->
    </div>
  </div>





</div>
