<ion-side-menus enable-menu-with-back-views="false"  >

        <!-- CONTENT -->
        <ion-side-menu-content drag-content="true" edge-drag-threshold="false" style = "background-color:brown">
    
            <!-- header bar -->
            <!-- the nav bar will be updated as we navigate between views -->
            <ion-nav-bar class="bar-light">
                <!-- back button, shown if applicable -->
                <ion-nav-back-button>
                </ion-nav-back-button>
                <!-- nav button, shown if applicable -->
                <ion-nav-buttons side="left">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                        </button>
                </ion-nav-buttons>
                <ion-nav-buttons side="right">
                    <img class='button-icon title-image main-logo-header' src='main/assets/images/LOGO640X88.svg' />
                    <button class="button button-icon icon ion-android-notifications" style="display: block !important;color: black; position: relative;" menu-toggle="right">
                      <span class="badge notification badge-positive">{{stado}}{{ctrl.badges}}</span>
                    </button>
                  </ion-nav-buttons>
            </ion-nav-bar>
    
            <!-- ROUTING INJECTED HERE: pageContent -->
            <ion-nav-view name="globalView">
            </ion-nav-view>
    
        </ion-side-menu-content>
    
        <!-- SIDEMENU -->
        <ion-side-menu side="left">
    
            <!-- menu content -->
             <ion-content style="top:0;">
    
                <ion-list>
                    <ion-item class="item item-avatar item-white" ng-if="ctrl.user.isAnonymous" nav-clear>
                        <img ng-src="main/assets/images/avatar.png">
                        <div class="info">
                            <h2 class="ff-lato fz-3 fw-700 color-black">Hello,</h2>
                            <div class="uppercase fz-3 fw-700 color-black">Guest</b></div>
                            <a nav-clear class="td-underline fz-3 fw-300 color-black" href="#" ng-click="ctrl.go('register')">Register</a>
                               <span> / </span>
                            <a nav-clear class="td-underline fz-3 fw-300 color-black" href="#" ng-click="ctrl.go('login')">Login</a>
                        </div>
                    </ion-item>
                    <ion-item class="item item-avatar item-white" ng-if="!ctrl.user.isAnonymous" nav-clear
                              ng-click="ctrl.go('main.profile', {hide: true})"
                              menu-toggle="left">
                        <img ng-if="!ctrl.user.image" ng-src="main/assets/images/avatar.png">
                        <img ng-if="ctrl.user.image" ng-src="{{ctrl.user.image}}" menu-toggle="left">
    
                        <div class="info">
                            <h2 class="ff-lato fz-3 fw-700 color-black">Hello,</h2>
                            <div class="uppercase fz-3 fw-700 color-black">{{ ctrl.user.name }}</b></div>
                            <div nav-clear class="td-underline fz-3 fw-300 color-black">Edit profile</div>
                        </div>
                    </ion-item>
    
                    <ion-item menu-toggle="left"
                              class="item-icon-left color-black fw-700 uppercase ff-titles fz-2"
                              ng-repeat="item in ctrl.menu"
                              ng-click="ctrl.go(item.state)">
                        {{item.name}} <i class="icon {{item.icon}}"></i>
                    </ion-item>
                    <!-- <ion-item class="item-icon-left color-black fw-700 uppercase ff-titles fz-2"
                              ng-click="footerGo('chats')">
                        Chat <i class="icon ion-chatbubbles"></i>
                    </ion-item> -->
                    <ion-item class="item-icon-left color-black fw-700 uppercase ff-titles fz-2"
                              ng-click="ctrl.logout()">
                          Cerrar Sesion <i class="icon ion-log-out"></i>
                    </ion-item>
                </ion-list>
            </ion-content>
    
        </ion-side-menu>
      <!--Este es el menu de notificaciones-->
      <ion-side-menu side="right" ng-class="">
          <div class="fw-700 uppercase fz-2 nots-title">
            Notifications
          </div>
          <ion-content>
            <ion-list class="nots">
              <ion-item menu-toggle="right" class="item-icon-left color-white fw-700 uppercase fz-2" 
              ng-repeat="notificacion in ctrl.notificaciones" ng-click="ctrl.goNotification(notificacion)" 
              on-drag-right="onSwipeRight(notificacion,'right',notificacion.$key)" 
              on-drag-left="onSwipeRight(notificacion,'left',notificacion.$key)" 
              ng-style="notificacion.readed && {opacity:0.6}" ng-class="animacion[notificacion.$key]">
                <span>
                  {{notificacion.date | date:'dd MMM yyyy'}} | {{notificacion.date | date: 'shortTime'}}
                  <span ng-if="notificacion.section">
                    ({{notificacion.section}})
                  </span>
                  <br>
                  <span>
                    <b> {{notificacion.title}} </b>
                  </span>
                  <br>
                  <span>
                    {{notificacion.message}}
                  </span>
                  <!-- {{notificacion | json}} -->
                </span>
                <i ng-if="notificacion.icon !='icon ion-email'" class="{{notificacion.icon}}"></i>
                <i ng-if="notificacion.icon == 'icon ion-email' && notificacion.readed" class="{{notificacion.icon}}"></i>
                <i ng-if="notificacion.icon == 'icon ion-email' && !notificacion.readed" class="icon ion-email-unread"></i>
                <i ng-if="!notificacion.icon && notificacion.readed" class="icon ion-email"></i>
                <i ng-if="!notificacion.icon && !notificacion.readed" class="icon ion-email-unread"></i>
                <!-- <i class="icon ion-email"></i>	 -->
                <!-- <i class="icon ion-email-unread"></i> -->
                <!-- <i ng-if="!notificacion.readed" class="icon ion-calendar"></i>
                <i ng-if="notificacion.readed" class="icon ion-help"></i> -->
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-side-menu>
    </ion-side-menus>
    