/**
* ARCHIVO SOLO PARA IMPORTAR .SCSS
* ARCHIVO SOLO PARA IMPORTAR .SCSS
* ARCHIVO SOLO PARA IMPORTAR .SCSS
* ARCHIVO SOLO PARA IMPORTAR .SCSS
* ARCHIVO SOLO PARA IMPORTAR .SCSS
* ARCHIVO SOLO PARA IMPORTAR .SCSS
* ARCHIVO SOLO PARA IMPORTAR .SCSS
* ARCHIVO SOLO PARA IMPORTAR .SCSS
* ARCHIVO SOLO PARA IMPORTAR .SCSS
* ARCHIVO SOLO PARA IMPORTAR .SCSS
* ARCHIVO SOLO PARA IMPORTAR .SCSS
*/

@import '_commons';
@import '_card'; // business exchange card
@import '_businesscards';
@import '_chat';

//tabs
.event-networking {
  color: $black;
  .tab-nav.tabs {
    padding: 0;
    border: 0;
    height: 50px;
    .tab-item {
      background-color: #e7e7e7;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $black;
      text-transform: uppercase;
      max-width: initial;
      font-size: 9px;
      opacity: 1;
      margin: 0;
      border-style: solid;
      border-color: $royal !important;
      border-width: 2px 0 2px !important;
      padding: 0 .5rem;
      line-height: 1.25;
      &.tab-item-active {
        background-color: $calm;
        color: $royal;
      }
      &:first-of-type {
        //border-left-width: 2px !important;
      }
      &:last-of-type {
        //border-right-width: 2px !important;
      }
    }
  }
}


.platform-android .nav-bar-tabs-top.hide ~ .view-container .tabs-top.hassubheadertabs .tabs{
  top: 88px !important; 
}