/**
 * Estilos multi evento
 */
.proximos-eventos {

   background: #CCC;
   padding-top: 0px;
   overflow: hidden;
   position:relative;

  .columns {
    display: flex;
  }

  .prox-item {
    margin: 0 0 0.4rem;
    background-size: cover;
    background-position: center center;      
  }

  img.event-img{
    position: absolute;
    width:100%;
  }

  .grupo-general {
    position:relative;
    width: 100%;
    background-size: cover;
    background-position: center center;   
    min-height:100px;
    padding-top:40px;
   /* background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(77, 194, 201,0.7));*/
   background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 77, 131,0.5));
  }

  .grupo-left {
    border-left: 6px solid $blue-tree;
    margin-left: 10px;
    width: 40%;
    background-size: cover;
    background-position: center center;
   
    img{
      margin-left: 10px;
      position: absolute;
      width:100%;
    }
  }

  .grupo-right {
    width: 60%;
  }

  .grupo-right {
    padding: 15px;
    color: $black;
  }

  .event-img {
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .tickets {
    padding-top: 10px;

    .button {
      margin: 0 !important;
    }
  }


}
.bar-header{
  background-color: white;
  background-image: url('../../main/assets/images/header-img.png');
  //background-repeat: repeat;
}
