body.platform-android .bar-logo {
  /*padding-right: 50px;*/
}
body.platform-ios .bar-logo {
  /*padding-right: 50px;*/
}
.social-share {
  position: absolute;
  display: flex;
  top: 30px;
  right: 15px;

  > div {
    width: 44px;
    height: auto;
  }
}

.bar-logo {
  display: block;
  height: 100%;
  padding: .25em 0px .25em 0;
  img {
    height: 100%;
    width: auto;
    vertical-align: top;
  }
}

.home {

  .box.general {
    height:50%;
    overflow:hidden;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      object-position: 50% 50%;
    }
  }
  .current-day {
    position: relative;
    display: block;
    padding: .75em 16px;
    .item-note {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding-right: 35px;
      line-height: 2;
      .icon {
        &:before {
          font-size: 19px;
          width: 20px;
        }
      }
    }
  }
  .actividad {
    background: $light-gray;
    padding: 10px 0;
    margin: 0;
  }
  .swiper-slide {
    .current-day {
      padding-left: 16px;
    }
    .list .item {
      border-width: 1px 0;
      margin: -1px 0;
      &:first-child {
        border: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .relacionados {
    .columns {
      display: flex;
      &.three .rows {
        width: 60.5%;
        min-width: 60.5%;
        max-width: 200px;
      }
      .row {
        padding: 0 !important;
        + .row {
          margin: 0;
        }
        .name-floating {
          position: relative;
          background: none;
          width: 100%;
          &:before {
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(to top, rgba($black, 0.7) 0%, rgba($black, 0.1) 100%)
          }
          .speaker-cover {
            img {
              max-width: initial;
              width: 100%;
            }
          }
          .speaker-name, .info {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: none;
            height: initial;
            padding: .25em .5em;
          }
          .info {
            bottom: 50%;
            transform: translateY(50%);
            .tag {
              border: 1px solid;
              padding: .25em .75em;
              display: inline-block;
            }
            h2 {
              margin: .75em 0 0;
            }
          }
        }
      }
    }
  }
  //estilos para el footer
  .bar-footer {
    padding: 0 !important;
    height: initial !important;
    .button-bar {
      button.button {
        padding: 0;
        border-radius: 0;
        border-width: 0;
        border-color: transparent transparent transparent $brandColor;
        height: 45px;
        min-height: 45px;
        &.active {
          background-color: $calm !important;
          > span {
            color: $royal !important;
          }
        }
        > span {
          display: block;
          line-height: 1;
          &:before {
            line-height: 1;
          }
        }
      }
    }
  }
}

span.swiper-pagination-bullet{
  display: none !important;
}
/**
 * Estilos multi evento
 */
.general-evento {

  .event-img {
    position: relative;
    background: $positive;

    &::before {
      content: '';
      display: block;
      padding-top: 60%;
    }

    img {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
    }
  }
  .description {
    position: relative;
    padding: 40px 3em 0px 3em;
  }

  .event-description {
    font, strong, span, p {
      color: whitesmoke !important;
    }
  }

  .tickets {
    padding: 1.25rem 0;
  }
}
.dinamic-content{
  margin-bottom:20px;
  position: relative;
  &:after{
    content: '';
    width: 25%;
    height: 1px;
    background: #fff;
    //position: absolute;
    display: block;
    margin-top: 10px;
    left: 0;
    bottom: 10px;
  }
  &:last-of-type{
    &:after{
      display:none;
    }
  }
}

.bar-logo .logoAbsolute {
  position: absolute;
  right: 0px;
  left: auto;
  top: 0;
  width: 50px;
}



.navigation-icons {
  //margin-top:20px;
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
  padding: 110px 30px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 0;
  margin: 20px auto 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  div {
      margin-bottom: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1rem;
      font-family: 'swiss';
      a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: 0;
          border-radius: 50%;
          margin: 5px;
          height: 22vw;
          width: 22vw;
          word-wrap: break-word;
          text-decoration: none;
          background-color:$blue-one;
          .icon {
            color: white;
            font-size: 2em;
          }
          &.programme:before {
              background-image: url("../../home/assets/images/1programme.svg");
              background-position: 40% 50%;
          }
          &.speakers:before {
              background-image: url("../../home/assets/images/1speakers.svg");
          }
          &.exhibitors:before {
              background-image: url("../../home/assets/images/1exibithors.svg");
          }
          &.world:before {
            background-image: url("../../home/assets/images/1world.svg");
        }
          &.documents:before {
              background-image: url("../../home/assets/images/1documents.svg");
          }
          &.feedback:before {
              background-image: url("../../home/assets/images/FeedBack.svg");
          }
          &.notes:before {
              background-image: url("../../home/assets/images/1notes.svg");
          }
          &.attendes:before {
              background-image: url("../../home/assets/images/1attendes.svg");
              background-size: 130%;
              width: 45px;
          }
          &.chat:before {
              background-image: url("../../home/assets/images/1chat.svg");
          }
          &.bcar:before {
              background-image: url("../../home/assets/images/1bussines-card.svg");
          }
          &.hashtag:before {
              background-image: url("../../home/assets/images/1twitter.svg");
              width: 32px;
              height: 32px;
          }
          &.cpd:before {
            background-image: url("../../home/assets/images/CPD.svg");
          }
      }
      img {
          display: none;
      }
      span {
          display: block;
          color: #fff;
          font-size: .65rem;
          line-height: 1;
          text-align: center;
          &:first-letter {
              text-transform: uppercase;
          }
      }
  }
  .small-icon {
    margin: 0;
    margin-top: 80px;
    margin-bottom: 170px;
  }
}

// news styles
.main-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
}

.has-slider-footer {
  bottom: 90px;
}
.abstract{
  padding-top: 4px !important;
}
