<ion-view cache-view="true" class="speaker bg-white">

  <!-- <ion-nav-title>{{ctrl.speaker.info.name}}</ion-nav-title> -->

  <!-- HEADER -->
  <div class="bar bar-subheader">
    <h2 class="title">{{ctrl.speaker.info.name}}</h2>
  </div>
  <!-- END HEADER -->



  <ion-content class="has-header has-subheader" scroll="true" overflow-scroll="true">
    <header>
      <!--div class="slider" ng-if="ctrl.speaker.general.photo"-->
      <div class="slider" ng-if="ctrl.speaker.info.image">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">

          <ion-slide ng-repeat="image in ctrl.speaker.info.image" class="text-center">
            <img style="max-width:100%;height:auto;" ng-src="{{image}}">
          </ion-slide>

        </ion-slide-box>
      </div>
    </header>

    <article class="padding padding-15 color-black fz-1">

      <section class="info" style="padding-top: 1rem;">
        <div class="speaker-name">
          <h2 class="uppercase fz5 fw-900 ff-titles color-calm has-companion-subtitle">
            <div class="color-calm fz-3">{{ctrl.track.name}}</div>
            {{ctrl.speaker.info.name}}
            <!-- <div class="heart" ng-if="!ctrl.user.isAnonymous">
              <i class="ico  ion-ios-heart-outline ico-heart" style="right: 5px" ng-if="!ctrl.fav" ng-click="ctrl.favorito(true)"></i>
              <i class="ico  ion-ios-heart ico-heart" style="right: 5px" ng-if="ctrl.fav" ng-click="ctrl.favorito(false)"></i>
            </div> -->
          </h2>
        </div>
      </section>

      <section ng-if="ctrl.speaker.info.country" class="country fw-300">
        <div>{{ctrl.speaker.info.country}}</div>
      </section>

      <section ng-if="ctrl.speaker.info.title" class="cargo fw-300">
        <div> {{ctrl.speaker.info.title}}</div>
      </section>

      <div class="redes" ng-if="ctrl.speaker.info.networks">
        <social-networks model="ctrl.speaker.info.networks"></social-networks>
      </div>

      <section ng-if="ctrl.speaker.info.company" class="padding-top company fw-300">
        <div>
          <b>Organisation:</b> {{ctrl.speaker.info.company}}</div>
      </section>

      <section class="knowledge fw-300">
        <div ng-if="ctrl.speaker.info.knowledge">
          <b>Studies:</b> {{ctrl.speaker.info.knowledge}}</div>
      </section>

      <section ng-if="ctrl.speaker.info.description" class="padding-top description fw-300">
        <div ng-bind-html="ctrl.speaker.info.description"></div>
      </section>

      <br>

      <section ng-if="ctrl.speaker.info.focus" class="enfoque fw-300">
        <h2 class="fz-3 color-black ff-lato fw-700 uppercase">Focus:</h2>
        <p>{{ctrl.speaker.info.focus}}</p>
      </section>

      <section ng-if="ctrl.speaker.info.trayectoria" class="trayectoria fw-300">
        <h2 class="fz-3 color-black ff-lato fw-700 uppercase">Trajectory:</h2>
        <p>{{ctrl.speaker.info.trayectoria}}</p>
      </section>

      <section ng-if="ctrl.speaker.info.hitos" class="hitos fw-300">
        <h2 class="fz-3 color-black ff-lato fw-700 uppercase">Milestones:</h2>
        <p>{{ctrl.speaker.info.hitos}}</p>
      </section>
    </article>
    <div class="blueLine"></div>
    <article class="padding padding-15 color-black fz-1">
      <!-- CONFERENCIA RELACIONADA -->
      <section class="conference" ng-if="ctrl.sessions.data">

        <h2 class="fz-2 color-calm uppercase ff-lato fw-700 dot dot-calm">SESSIONS</h2>

        <div ng-repeat="session in ctrl.sessions.data" class="description" ng-click="ctrl.irASession(session)">
          <header>
            <time class="date fw-100 fz-2 color-black ff-lato">
              <span class="day">{{session.info.date}}</span> -
              <span class="hour">{{session.info.hourFrom.hour}}:{{session.info.hourFrom.minutes}}</span>
            </time>
            <h3 class="fz-1 color-black ff-lato fw-700 uppercase no-m">{{session.info.name}}</h3>
            <div class="fz-2 fw-100 color-black ff-lato" ng-show="ctrl.scenarios[session.info.place]">{{ctrl.scenarios[session.info.place].name}}</div>

          </header>
          <section class="info fw-300 color-black" ng-show="session.info.description">
            <p ng-bind-html="session.info.description | limitTo: 200">{{(session.info.description.length > 200) ? '...' : ''}}</p>
          </section>
        </div>

      </section>
      <!-- /.CONFERENCIA RELACIONADA -->
    </article>

    <!-- More Speakers -->
    <div class="blueLine"></div>
    <section class="relacionados">
      <h2 class="fz-2 color-calm uppercase ff-lato fw-700 dot dot-calm">More speakers</h2>
      <!--<ion-scroll direction="x" class="list-horizontal" overflow-scroll="true"> -->
      <div class="cols two-cols">
        <div class="row">

          <div ng-repeat="(key_speaker,speaker)  in ctrl.random_speakers" class="item list-horizontal-item name-floating detailList" 
          ui-sref="main.speaker({idSpeaker: key_speaker})">
            <div class="speaker-cover">
              <img ng-src="{{speaker.info.image.fullsize}}">
              <img ng-if="!speaker.info.image.fullsize" ng-src="main/assets/images/new.png">
            </div>
            <h2 class="speaker-name  text-center color-white fz-2 fw-500  ff-avenir speaker-name-align">
              {{speaker.info.name}}
            </h2>
          </div>


        </div>
      </div>
      <!--</ion-scroll>-->
    </section>
  </ion-content>
</ion-view>
