<ion-view class="speakers bg-royal">

  <!-- <ion-nav-title>Speakers</ion-nav-title> -->
  <!-- HEADER -->
  <div class="bar bar-subheader">
    <h2 class="title">Speakers</h2>
  </div>
  <!-- END HEADER -->



   <ion-content class="has-subheader">

    <div style="text-align: center" ng-if="!config.loaded">
      <ion-spinner icon="dots"></ion-spinner>
    </div>

    <ion-list class="cols two-cols">
      <ion-item class="conference name-floating item item-{{$index}} item-text-wrap"
                ng-repeat="speaker in ctrl.speakers | limitTo: ctrl.renderLimit"
                ui-sref="main.speaker({idSpeaker: speaker.$key})">

        <div class="speaker-cover">
          <img ng-src="{{speaker.info.image.fullsize}}">
          <img ng-if="!speaker.info.image.fullsize" ng-src="main/assets/images/new.png">
        </div>

        <h2 class="speaker-name  text-center color-white fz-2 fw-500  ff-avenir speaker-name-align">
          <div class="d-block">{{speaker.info.name}}</div>
          <div class="track d-block fw-500 fz-4" ng-show="ctrl.tracks[speaker.info.track]">{{ctrl.tracks[speaker.info.track].name}}</div>
        </h2>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll immediate-check="false" on-infinite="ctrl.loadMore()" ng-if="((ctrl.isMoreData))"></ion-infinite-scroll>

  </ion-content>
</ion-view>
