@import '../../main/styles/variables';
.auth {

  header {
    .logo {
      max-width: 180px;
      margin: 0 auto;
      padding: 2em 0;
      width: 100%;
    }
  }
  .list-inset {
    margin: 0 1.5em;
  }


  .terminos {
    margin: .5em 0 0;
    padding: 0 1.5em;
  }
  .action-buttons {
    margin: .5em 0 0em;
    padding-left: 5px;
    padding-right: 5px;
    button {
      min-height: 35px;
      line-height: 1;
    }

  }
  .auth-options {
    margin: .5em 0 0em;
    a {
      &.pd {
        position: relative;
        margin-bottom: .5em;
        display: inline-block;
        &:after {
          content: '';
          position: absolute;
          top: -4px;
          left: 0;
          bottom: -4px;
          right: 0;
          display: block;
        }
      }
    }
  }


  label.item-input {
    padding: 5px;
    & > input{
      background: #fff;
      padding: 0px 10px !important;
      height: 35px;
      border: 1px solid $gray;
      border-radius: 6px;
      font-weight: 500;
      color: $gray;
    }
  }

  .button-balanced {
    border-radius: 6px;
  }
}

.profile {
  .user-avatar {
    img {
      max-width: 200px;
      border-radius: 50%;
    }
  }
}

.autenticacion.login.auth{
  background: no-repeat center  top fixed ;
  background-size:cover;
  background-image: url(../../main/assets/images/logoLogin1.png);
  
  &:before {
    content: "";
    background-image: url(../../main/assets/images/bottomLogin1.png);  
    width: 70px;
    height: 150px;
    position: absolute;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 50px;
  }
  .mainLogo{
    margin-top: 20px;
  }
  .list-inset {
    margin-top:10em;
  }  

}

